<div class="row">
  <div class="col">
    <ol class="list-group">
      <li
        *ngFor="let todo of todos"
        class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name: <input type="text" class="form-control" [(ngModel)]="todo.name">
    content: <input type="text" class="form-control" [(ngModel)]="todo.content">
    <button
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      (click)="addTodo()"
      class="btn btn-primary">
      Add Todo
    </button>
  </div>
</div>
